{{!-- 

<form action="/edit-recipe/{{recipe.id}}" method="POST" enctype="multipart/form-data">

  <label for="">Title</label>
  <input type="text" name="title" value="{{recipe.title}}">

  <label for="">Ingredients</label>
  <textarea name="ingredients" cols="30" rows="5"> {{recipe.ingredients}} </textarea>

  <label for=""> Description </label>
  <textarea name="description" cols="30" rows="5"> {{recipe.description}} </textarea>

  <label for="">Difficulty (between 1 and 5) </label>
  <input type="number" name="difficulty" min="1" max="5" value="{{recipe.difficulty}}">

  <label for=""> Time </label>
  <input type="time" name="time" min="1" max="5" value="{{recipe.time}}">

  <label for=""> Image </label>
  <input type="file" name="image">

  <button type="submit"> Update </button>

</form> --}}

{{!--  --}}


<div class="container">
{{!-- <h3>Edit {{recipe.title}}</h3> --}}

<div class="row">
<div class="col-md-3">
</div>

<div class="col-md-6">

<form class="card-template forms" action="/edit-recipe/{{recipe.id}}" method="POST" enctype="multipart/form-data">
  
  <div class="form-group">
    <label class="form-label">Title</label>
    <input type="text" name= "title" class="form-control mb-2" value="{{recipe.title}}">
  </div>

  <div class="form-group">
    <label class="form-label">Ingredients</label>
    <textarea class="form-control mb-2" name="ingredients" cols="30" rows="5"> {{recipe.ingredients}} </textarea>
  </div>

  <div class="form-group">
    <label class="form-label">Description</label>
    <textarea class="form-control mb-2" name="description" cols="30" rows="5" > {{recipe.description}} </textarea>
  </div>

<div class="form-group">
    <label class="form-label">Difficulty (between 1 and 5)</label>
    <input type="number" name= "difficulty" class="form-control mb-2" min="1" max="5" value="{{recipe.difficulty}}">
  </div>

<div class="form-group">
    <label class="form-label">Time</label>
    <input type="time" name= "time" class="form-control mb-2" value="{{recipe.time}}">
  </div>

<div class="form-group">
  <label class="form-label"> Image </label>
  <input type="file" name="image" class="form-control">
</div>
  

  <button type="submit" class="btn btn-outline-success button"> Update </button>

</form>

</div>

  <div class="col-md-3">
  </div>

</div>
</div>