<div class="page-top"> </div>
<div class="container">
  <div class="row">
    <div class="col"> </div>
    <div class="col-6">
      <section class="card-template">
          <h4> Favorites </h4>
<section class="favorites-info">
    {{#each favorites}}
    <hr>
    <h4> {{recipe.title}} </h4>
  <section class="favorites-description">
    <section class="favorites-text">
      <p> {{recipe.description}}</p>
    </section>
      <section class="user-profile-post-img-parent">
        <img src="{{recipe.imageUrl}}" class="favorites-food-img img-fluid" alt="Responsive image">
      </section>
  </section>
        <section class="favorites-btns">
        <form action="/recipe-details/{{recipe.id}}" method="GET">
          <button class="btn btn-outline-secondary" type="submit">Recipe Details</button>
        </form>
        <form action="/delete-favorite/{{id}}" method="POST">
          <button class="btn btn-outline-secondary" type="submit"> Delete </button>
        </form>
      </section>
            {{/each}}
          </section>
    </section>
</div>
<div class="col"></div>
</div>
</div>