<h1> Favorites </h1>

{{#each recipes}}
<h2> {{recipe.title}} </h2>
<img src="{{recipe.imageUrl}}" alt="" style="height: 200px; width:200px;">

<h3> Description:</h3>
<p> {{recipe.description}}</p>

<form action="/recipe-details/{{recipe.id}}" method="GET">
      <button type="submit">
        Recipe Details
        </button>
      </form>

<form action="/delete-favorite/{{recipe.id}}" method="POST">
<button type="submit"> Delete </button>
</form>

<hr>
{{/each}}