<h1>Home Feed</h1> 
  <p>-- {{fact}}</p>

<div class="nav-bar">
  <form action="/search" method="GET">
    <input type="text" name="search">
    <button type="submit">Search</button>
  </form>
{{#if user}}
  <h2> Welcome {{user.username}}</h2>
  <a href="/profile/{{user._id}}"> <img src="{{user.imageUrl}}" alt="" style="height: 100px; width:100px; border-radius:50px;"> </a>
      <form action="/add-recipe" method="GET">
        <button>Add Recipe</button>  
      </form>
      <form action="/logout" method="POST">
        <button type="submit">
          Logout
        </button>
      </form>
{{else}}
<a href="/login">Login</a> | <a href="/signup">Register</a>
{{/if}}
</div>
<hr>
{{#each recipesFromDB}}
<div class="recipe-post">

  <h2> <img src="{{user.imageUrl}}" alt="" style="height: 40px; width: 40px; border-radius:50px;"> <a href="/profile/{{user.id}}">{{user.username}}</a> </h2>
  

  <h3>
    {{title}}
  </h3>

  <img src="{{imageUrl}}" alt="" style="height: 200px; width: 200px;">
  <p>{{description}}</p>
  <form action="/recipe-details/{{id}}" method="GET">
    <button type="submit">
      Recipe Details
    </button>
  </form>

  {{#if ../user}}
  <form action="/recipe/{{id}}/like" method="POST">
    <button class="like-button" type="submit">LIKE
    </button>
  </form>
  {{/if}}

  <p>{{likes}}</p>
</div>

{{/each}}
<br>
<hr>
<a href="/about">About</a>
