<div class="page-top"></div>
<div class="container">
  <div class="row">
  <div class="col"></div>
  <div class="col-6" id="recipe-details-main">
      <section class="card-template">
        <h5> {{recipe.title}} </h5>
        <img class="recipe-details-img" src="{{recipe.imageUrl}}" />
        <section class="recipe-details-foot">
          {{#is user._id recipe.user}}
          <a class="link-edit-delete"href="/edit-recipe/{{recipe.id}}">edit</a>
          <form action="/delete/{{recipe.id}}" method="POST">
          <button type="submit" class="link-edit-delete"> Delete </button>
          </form>
          {{/is}}
        </section>
        <h6> Ingredients:</h6>
          <p> {{recipe.ingredients}} </p>
        <h6> Description: </h6>
          <p> {{recipe.description}} </p>
        <h6> Difficulty: </h6>  
          <p> {{recipe.difficulty}} </p>
        <h6> Time </h6>
          <p> {{recipe.time}} </p>
      </section>

      <section id="recipe-details-btns" class="card-template">
          <form action="/" method="GET">
            <button class="btn btn-outline-secondary"><< feed</button>
          </form>
        {{!-- {{#is user._id recipe.user}}
          <form action="/edit-recipe/{{recipe.id}}" method="GET">
            <button class="btn btn-outline-secondary" type="submit">edit</button>
          </form>
          <form action="/delete/{{recipe.id}}" method="POST">
            <button class="btn btn-outline-secondary" type="submit">Delete</button>
          </form>
        {{/is}} --}}
        {{#if user}}
        <form action="/favorites/{{recipe._id}}" method="POST">
          <button class="btn btn-outline-secondary" type="submit">add to favorites</button>
        </form>
        {{/if}}
        <form action="/profile/{{recipe.user}}" method="GET">
          <button class="btn btn-outline-secondary" type="submit">more >></button>
        </form>
      </section>
  </div>
<div class="col">
  </div>
    </div>
      </div>

  