<h2> {{recipe.title}} </h2>


<img src="{{recipe.imageUrl}}" alt="" style="height: 200px; width:200px;">
<h3> Ingredients:</h3>
<p> {{recipe.ingredients}} </p> <br>

<h3> Description: </h3>
<p> {{recipe.description}} </p> <br>

<p> Difficulty: {{recipe.difficulty}} </p> <br>
<p> Time: {{recipe.time}} </p> <br>


{{#is user._id recipe.user}}
<a href="/edit-recipe/{{recipe.id}}">edit</a>
<form action="/delete/{{recipe.id}}" method="POST">
<button type="submit"> Delete </button>
</form>
{{/is}}
{{#if user}}
<form action="/favorites/{{recipe._id}}" method="POST">
<button type="submit"> Save </button>
</form>
<a href="/share"> share </a>
{{/if}}


