<h2>{{user.username}}</h2>
<img src="{{user.imageUrl}}" alt="" style="height: 100px; width:100px;">
<p> {{user.bio}} </p>
<hr>

<h3> List of posts</h3>

{{#each recipes}}
<h3> {{title}} </h3>
<p>{{description}}</p>
<img src="{{imageUrl}}" alt="" style="height: 100px; width:100px;">
<hr>

{{/each}}

{{#if user}}
<a href="/profile/edit/{{user.id}}"> Edit your profile </a>
{{/if}}
