<h2>{{userDetail.username}}</h2>
<img src="{{userDetail.imageUrl}}" alt="" style="height: 100px; width:100px;">
<p> {{userDetail.bio}} </p>
<hr>

<h3> List of posts</h3>

{{#each recipes}}
<h3> {{title}} </h3>
  <p>{{description}}</p>
    <img src="{{imageUrl}}" alt="" style="height: 100px; width:100px;">
<hr>
{{/each}}


{{#if canEditProfile}}
<a href="/profile/edit/{{userDetail.id}}"> Edit your profile </a>
{{else}}
<p> hello </p>
{{/if}}

