<div class="page-top"></div>
<div class="container">
  <div class="row">
      <div class="col"> </div>
      <div class="col-6" id="recipe-details-main">
        <section class="card-template">
          <section class="user-profile-info">
            <img src="{{userDetail.imageUrl}}" class="user-profile-img" >
            <h3>{{userDetail.username}}</h3>
            {{#if canEditProfile}}
            <div class="user-buttons d-flex justify-content-between">
            <a href="/profile/edit/{{userDetail.id}}" class="btn btn-outline-secondary mx-1"> Edit your profile </a>
            <a href="/favorites" class="btn btn-outline-secondary mx-1"> My Favorites </a>
            </div>
            
            {{/if}}
          </section>
          <p class="user-bio-text d-flex justify-content-center"> {{userDetail.bio}} </p>
            <hr> {{!-- merge tomorrow --}}
          <h4 class="user-profile-posts-heading" > Posts </h4>
          <br>
            {{#each recipes}}
              <section class="user-profile-stuff">
          <h5 class="user-profile-heading"> {{title}} </h5>
            {{!-- <article class="user-profile-text">
              <p>{{description}}</p>
            </article> --}}
            {{!-- <article class="user-profile-post-img-parent"> --}}
              <a href="/recipe-details/{{id}}"> 
              <img src="{{imageUrl}}" class="user-profile-post-img img-fluid"
                  alt="Responsive image">
                  </a>
            {{!-- </article> --}}
          </section>
            {{/each}}
{{!-- 
        {{#if canEditProfile}}
        <a href="/profile/edit/{{userDetail.id}}" class="user-bio-text-a"> Edit your profile </a>
        {{else}}
        {{/if}} --}}
        </section>
      </div>
    <div class="col"></div>
  </div>
</div>